:root {
    --white: #FFFFFF;
    --title-font: 'Outfit', sans-serif;
    --text-font:  'Poppins', sans-serif;
    --background-red: #FF7979;
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
    --blue: hsl(248, 32%, 49%);
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --border-radious: 10px;
    --border-radious-input: 5px;
    --shadow-effect: 0 -4px 0 0 #00000017 inset;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-red);
    background-image: url('./images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

.intro {
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.intro__header {
    color: var(--white);
    text-align: center;
    max-width: 600px;
}

.intro__header-title {
    font-family: var(--title-font);
    box-shadow: var(--shadow-effect);
}

.intro__header-text {
    font-family: var(--text-font);
}

.intro__form {
    max-width: 600px;
    min-width: 600px;
}

.intro__form-promo {
    background-color: var(--blue) ;
    padding: 16px;
    border-radius: var(--border-radious);
    text-align: center;
    color: var(--white);
    font-family: var(--title-font);
}

.intro__form-promo-bold{
    font-weight: bold;
}

.intro__form-form {
    background: var(--white);
    font-family: var(--text-font);
    display: grid;
    padding: 40px;
    border-radius: var(--border-radious);
    box-shadow: var(--shadow-effect);
    gap: 20px;
}

.intro_form-form-label {
    display: grid;
    padding: 15px;
    padding-left: 32px;
    border: 1px solid var(--blue);
    border-radius: var(--border-radious-input);
}

.intro__form-form-input {
    width: 100%;
    display: grid;
    border: none;
    font-weight: bold;
    font-family: var(--text-font);
}

.intro__form-form-input:focus-visible {
    border: none;
}

.intro__form-form-button {
    padding: 15px 0;
    color: var(--white);
    font-family: var(--text-font);
    background-color: var(--green);
    border-radius: var(--border-radious-input);
    text-transform: uppercase;
    line-height: 26px;
    border: none;
    letter-spacing: 1px;
}

.terms {
    font-size: 11px ;
    margin-top: -10px;
    padding-left: 65px;
}

.terms__text {
    font-family: var(--text-font);
    color: #BAB7D4;
}

.terms__link {
    font-family: var(--text-font);
    color: var(--background-red); 
    font-weight: bold;
    text-decoration: none;
}


@media screen and (min-width: 764px) {
    .intro {
        grid-auto-flow:column;
    }

    .intro__header {
        text-align: start;
    }
}




